body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

h3 {
    font-size: 30px;
}


.container {
    display: flex;
  }


  .imagem {
    flex: 1;
    margin: 10px;
  }
  .imagem img {
    width: 100%;
    height: auto;
  }