body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d6266;
}

header {
    background-color: #292a2b;
    color: #ff0000;
    padding: 20px;
    text-align: center;
    border-radius: 20px
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}

main {
    padding: 20px;
}

footer {
    background-color: #5d6266;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

h3 {
    font-size: 25px;

}


.container {
    display: flex;
  }


.imagem {
    flex: 1;
    margin: 30px;
    
  }


.imagem {
    border: 3px solid #000;
    border-radius: 10px;
}

.borta-fundo {
    border: 3px solid #000;
    border-radius: 10px;

}

.texto-caixa {
    font-size: 23px;
    color: #ffffff;
    font-family:Monospace;
}

.texto-caixa {
    background-color: #292a2b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 20px
}

.manutencao {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family:Monospace;
    
  }

  .coluna {

    background-color: #292a2b;
    padding: 20px;
    border-radius: 20px

  }
  .coluna li{
    font-family: Monospace;
    color: #ffffff;
    font-size: 25px;
  }
  h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family:Monospace;
    word-spacing: 5px; 
  }

  .titulo-manutencao{
    font-family: Arial, sans-serif;
    text-align: center;
    color:#ff0000;
    font-size: 30px
    
  }

  .titulo-manutencao{
    background-color: #292a2b;
    padding: 20px;
    text-align: center;
    border-radius: 20px

    
  }