@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d6266;
}

header {

    background-color: #292a2b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 20px
    
}
header {
  font-family: "Anton", sans-serif;
  font-weight: 400; 
  font-style: normal;
  
}



nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

main {
    padding: 20px;
}

footer {
    background-color: #5d6266;
    color: #070707;
    padding: 10px 20px;
    text-align: center;
}

h3 {
    font-size: 25px;

}


.container {
    display: flex;
  }



.borta-fundo {
    border: 3px solid #000;
    border-radius: 10px;

}

.texto-caixa {
    font-size: 23px;
    color: #ffffff;
    font-family:Monospace;
}

.texto-caixa {
    background-color: #292a2b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 20px
}

.manutencao {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family:Monospace;
    
  }
.titulo-manutencao p {
   font-family: "Anton", sans-serif;
   font-weight: 400; 
   font-style: normal;
   text-align: center;
   color: #ffffff;
  }

  .coluna {

    background-color: #292a2b;
    padding: 20px;
    border-radius: 20px

  }
  .coluna li{
    font-family: Monospace;
    color: #ffffff;
    font-size: 25px;
  }
  h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family:Monospace;
    word-spacing: 5px; 
  }

  .titulo-manutencao{
    font-family: "Anton", sans-serif;
    font-weight: 400; 
    font-style: normal;
    text-align: center;
    color:#f0f0f0;
    font-size: 30px

  }

  .titulo-manutencao{
    background-color: #292a2b;
    padding: 20px;
    text-align: center;
    border-radius: 20px

    
  }

  .card {
    display: flex;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card {
    display: flex;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card {
    display: flex;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: flex;
  }


  .price {
    font-weight: bold;
  }

  .card-container {
    display: flex;
    margin: 20px;    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .instalacao p {
   color: #ffffff;
   font-size: 30px;
   text-align: center;
  }
  .titulo-instalacao p{
    font-family: Verdana, sans-serif;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .titulo-instalacao {
    background-color: #292a2b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 20px
    
  }

  .banner{
    width: 150px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção original da imagem */
    border: 1px solid white; /* Adiciona uma borda branca de 5px */
    border-radius: 70px; /* Define o raio do arredondamento */
    margin-left: -55%; /* Move a imagem 20 pixels para a esquerda */
    margin-top: -5%; /* Move a imagem 20 pixels para cima */
}
